/*   
	Kubrick v1.2.6  for  Drupal 4.5
	
	Original Kubrick theme for WordPress can be found at
	 http://binarybonsai.com/kubrick/

	This theme was designed and built by Michael Heilemann,
	whose blog you will find at http://binarybonsai.com/

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php
	
*/

/* Begin Typography & Colors */
body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	background-color: #d5d6d7;
	color: #333;
	}

#page {
	background-color: white;
	border: 1px solid #959596;
	text-align: left;
	}

#header {
	background-color: #73a0c5;
	}

#content {
	font-size: 1.2em
	}

.narrowcolumn .entry {
	line-height: 1.4em;
	}
	
.narrowcolumn .postmetadata {
	text-align: center;
	}

.graybox {
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 10px;
	}


#footer {
	background-color: #eee;
	}

small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
	}

h1, h2, h3 {
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-weight: bold;
	}

h1 {
	font-size: 4em;
	text-align: center;
	}

h2 {
	font-size: 1.6em;
	}
	
.box h2 {
	font-size: 1.4em;
}

h2.pagetitle {
	font-size: 1.6em;
	}

#sidebar h2 {
	font-family: 'Lucida Grande', Verdana, Sans-Serif;
	font-size: 1.2em;
	}

h3 {
	font-size: 1.3em;
	}

h1, h1 a, h1 a:hover, h1 a:visited, .slogan{
	text-decoration: none;
	color: white;
	}
.slogan {
	text-align: center;
	font-size: 1.2em;
}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	color: #333;
	}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
	text-decoration: none;
	}

.entry p a:visited {
	color: #b85b5a;
	}

#sidebar {
	font: 1em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
	color: #777;
	}
	
code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

acronym, abbr, span.caps
{
	font-size: 0.9em;
	letter-spacing: .07em;
	}

a, h2 a:hover, h3 a:hover {
	color: #ff9900;
	text-decoration: none;
	}

a:hover {
	color: #7da413;
	text-decoration: underline;
	}
	
.calendar table {
	font-size: small;
}

.calendar a {
	text-decoration: none;
	}

.calendar caption {
	font: bold small 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align: center;
	}
.calendar caption a {
	display: inline;
}

.calendar th {
	font-style: normal;
	text-transform: capitalize;
	}
/* End Typography & Colors */


/* Begin Structure */
body {
	margin: 0;
	padding: 0; 
	}

#page {
	background-color: white;
	margin: 20px auto;
	padding: 0;
	width: 760px;
	border: 1px solid #959596;
	}
	
#header {
	padding: 0;
	margin: 0 auto;
	height: 200px;
	width: 100%;
	background-color: #73a0c5;
	}

#headerimg {
	margin: 0;
	height: 200px;
	width: 100%;
	}

.narrowcolumn {
	float: left;
	padding: 0 0 20px 45px;
	margin: 0px 0 0;
	width: 450px;
	}
	
.node {
	margin: 0 0 40px;
	}

.narrowcolumn .postmetadata {
	padding-top: 5px;
	}
	
#footer {
	padding: 20px 0;
	margin: 0 auto;
	margin-left: 0px; 
	width: 760px;
	clear: both;
	}

#footer p {
	margin: 0;
	padding: 0;
	text-align: center;
	}
/* End Structure */



/*	Begin Headers */
h1 {
	padding-top: 70px;
	margin: 0;
	}

h2 {
	margin: 30px 0 0;
	}

h2.pagetitle {
	margin-top: 30px;
	text-align: center;
}

#sidebar h2 {
	margin: 5px 0 0;
	padding: 0;
	}

h3 {
	padding: 0;
	margin: 30px 0 0;
	}

h3.comments {
	padding: 0;
	margin: 40px auto 20px ;
	}
/* End Headers */



/* Begin Images */
p img {
	padding: 0;
	max-width: 100%;
	}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */
	
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	}
	
.alignleft {
	float: left
	}
/* End Images */



/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
	} 

html>body .entry li {
	margin: 7px 0 8px 10px;
	}

.entry ul li:before {
	content: "\00BB \0020";
	}

.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
	}

.entry ol li {
	margin: 0;
	padding: 0;
	}
dl dt {
	font-weight: bolder;
}
.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}
	
#sidebar ul, #sidebar ul ol {
	margin: 0;
	padding: 0;
	}
#sidebar .item-list ul li {
	list-style: none;
}

#sidebar .block {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 15px;
	}

#sidebar .block p {
	margin: 5px 0 8px;
	}

#sidebar .block ul, #sidebar .block ol {
	margin: 5px 0 0 10px;
	}

#sidebar .block ul ul, #sidebar .block ol {
	margin: 0 0 0 10px;
	}

ol li, #sidebar .block ol li {
	list-style: decimal outside;
	}

#sidebar .block ul li, #sidebar .block ol li {
	margin: 3px 0 0;
	padding: 0;
	}
/* End Entry Lists */

#sidebar .block-user .menu ul li:before {
	content: "";
	}

/* Begin Form Elements */

.form-item input.form-text,
.form-item textarea.textarea {
	width: 100%;
	padding: 0;
}
.form-item select {
	width: auto;
}
.box .form-item select {
	font-size: 0.8em;
}
.user-login-block .form-item input {
	width: auto;
}

#searchform {
	margin: 10px auto;
	padding: 5px 3px; 
	text-align: center;
	}

#searchform #s {
	width: 100px;
	padding: 2px;
	margin: 0;
	}

#searchform #searchsubmit {
	padding: 1px;
	margin: 0;
	}

/* End Form Elements */


/* Begin Comments*/
.comment {
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 15px 0 3px;
	padding: 5px 10px 3px;
	padding: 10px;
	font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}
.comment cite {
	font-style: normal;
	font-weight: bolder;
}
.comment cite a {
	font-size: 1.1em;
}


/* End Comments */



/* Begin Sidebar */
#sidebar
{
	padding: 20px 0 10px 0;
	margin-left: 545px;
	width: 190px;
	}

#sidebar form {
	margin: 0;
	}
/* End Sidebar */



/* Begin Calendar */
.calendar table {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
	}

.calendar a {
	display: block;
	}

.calendar caption {
	text-align: center;
	width: 100%;
	margin-top: 1em;
	}

.calendar td, .calendar th {
	padding: 3px 0;
	text-align: center;
	border: none;
	}

.calendar td.pad:hover { /* Doesn't work in IE */
	background-color: #fff; }
/* End Calendar */



/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}

hr {
	display: none;
	}

a img {
	border: none;
	}

.navigation {
	float: right;
	margin-top: 2em;
	}
/* End Various Tags & Classes*/

/* Drupal Elements */

.messages, #mission {
	margin: 3em 0 3em 0;
}

#primarylink {
	display: block;
	margin: -15px 0 0 0;
	padding: 0;
	text-align: center;
	font-weight: bolder;
}
#primarylink li {
	list-style: none;
	display: inline;
	margin: 0 1em;
}
#primarylink li a {
	color: white;
	font-weight:bolder;
}
#primarylink .active {
	border-bottom: 4px solid white;
}
#primarylink :hover {
	text-decoration: none;
	color:#000000;
}

#edit-search-theme-form-keys {
	width:120px;
	font-size:10px;
}

table {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	letter-spacing: -0.1em;
}
th { letter-spacing: normal ! important; }
table strong { letter-spacing: normal ! important; }
.node table {
	font-size: 1em;
	letter-spacing: normal;
}
	
/* Images */
	body	 	{ background: #2c2c2c; }
	#page		{ background: #2c2c2c url(images/zubrickbg.gif) repeat-y top; border: none; }
	#header 	{ background: #2c2c2c url(images/zubrickheader.gif) no-repeat bottom center; }
	#footer 	{ background: #2c2c2c url(images/zubrickfooter.gif) no-repeat bottom; border: none;}
			
			
/*	Because the template is slightly different, size-wise, with images, this needs to be set here
	If you don't want to use the template's images, you can also delete the following two lines. */
			
	#header 	{ margin: 0 !important; margin: 0 0 0 0px; padding: 1px; height: 198px; width: 758px;}
	#headerimg 	{ margin: 7px 9px 0; height: 192px; width: 740px; } 
/* END IMAGE CSS */
		

/* 	To ease the insertion of a personal header image, I have done it in such a way,
		that you simply drop in an image called 'personalheader.jpg' into your /images/
		directory. Dimensions should be at least 760px x 200px. Anything above that will
		get cropped off of the image. */
		
/*	#headerimg 	{ background: url(images/personalheader.jpg) no-repeat top;} */		
